// / {
//     nrf_radio_fem: nrf21540_fem {
//         compatible  = "nordic,nrf21540-fem";
//         tx-en-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
//         rx-en-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
//         pdn-gpios   = <&gpio0 7 GPIO_ACTIVE_HIGH>;
//         mode-gpios  = <&gpio0 25 GPIO_ACTIVE_HIGH>;
//         supply-voltage-mv = <3000>;

//         /* 可选时序：
//          * tx-en-settle-time-us = <27>;
//          * rx-en-settle-time-us = <12>;
//          */
//     };
// };
